.block{
    padding: 80px 0;
    min-height: 400px;
    display: flex;
}

.block-left{
    display: flex;
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width:inherit;
        }
    }
}